.hoverable{
    transition: box-shadow 0.3s ease-in-out;
}
.hoverable:hover{
    -webkit-box-shadow: 0 27px 24px 0 rgb(0 0 0 / 20%),
    0 40px 77px 0 rgb(0 0 0 / 22%) !important;
    box-shadow: 0 27px 24px 0 rgb(0 0 0 / 20%),
    0 40px 77px 0 rgb(0 0 0 / 22%) !important;
    transition: box-shadow 0.3s ease-in-out;
}